/*checkers size and outlign*/
#checkersBoard{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 418px;
    height: 418px;

}
/*checkers square size */
.square{
    border: 1px solid black;
    height: 50px;
    width: 50px;

}
/*background color settings */
.bg{
    background-color: darkgoldenrod;

}
/*checker piece colors*/
.checkers{
    width: 45px;
    height: 45px;
    margin: 2.5px;
    border-radius: 50%;
    box-shadow: 4px 4px 4px grey;

}

/* checkers piece color varient*/
.checkers-g{
    background-color: gold;

}
/* checkers piece color varient*/
.checkers-s{
    background-color: silver;
}